<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <style>
    body { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; line-height: 1.35; }
    .right { text-align: right; }
    .mt { margin-top: 12px; }
    .small { font-size: 10pt; }
    .ref { font-weight: bold; text-transform: uppercase; }
    .sign { margin-top: 40px; white-space: pre-line; }
  </style>
</head>
<body>
  <div class="right">{{city}}, {{letterDate}}</div>
  {{#if code}}<div class="mt">PHG N° {{code}}</div>{{/if}}

  <div class="mt ref">REF.: {{refTitle}}</div>

  <div class="mt">
    {{addresseeName}}<br/>
    {{addresseeRole}}<br/>
    {{institution}}<br/>
    {{institutionAddr}}<br/>
    Presente
  </div>

  <div class="mt">De mi consideración:</div>

  <div class="mt">
    Conforme al currículo de la carrera {{degree}}, solicito su autorización para que
    {{#if (gt (length students) 1)}}los/las estudiantes{{else}}el/la estudiante{{/if}}
    realice{{#if (gt (length students) 1)}}n{{/if}} su "{{practiceType}}" en ese establecimiento
    durante el período {{periodStr}}:
  </div>

  <div class="mt">
    {{#each students}}<div>{{this}}</div>{{/each}}
  </div>

  {{#if tutorName}}
  <div class="mt small">Tutora/or de práctica: {{tutorName}}{{#if tutorPhone}} ({{tutorPhone}}){{/if}}</div>
  {{/if}}

  {{#if comments}}<div class="mt small">Observaciones: {{comments}}</div>{{/if}}

  <div class="mt">Adjunto:</div>
  <div class="mt">
    {{#each attachments}}<div>• {{this}}</div>{{/each}}
  </div>

  <div class="sign">
    {{signer}}
    <br/>{{signerRole}}
  </div>
</body>
</html>
